@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@0,300;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color:#6E85B7 ;
}
#seleccionar-mascota{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: antiquewhite;
    font-size: 32px;
}
.subtitulo{
    color: antiquewhite;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background:#FFFFFF;
    scroll-padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display:flex ;
    justify-content: center;
    align-items:center ;
    color: cornflowerblue;
}

.tarjeta-de-mokepon img{
    width: 80px;
}
#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;

}


input{
    display: none;
}

input:checked + label {
    background-color: burlywood;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boto-de-ataque{
    background-color: blue ;
    scroll-padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;

}

#mensajes {
    width: 280px;
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#boton-reiniciar{
    border: none;
    color: white;
    background-color: blue;
    font-family: 'Poppins', sans-serif;
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    color: antiquewhite;
}

 #vidas-jugador, #vidas-enemigo{
    font-size:32px ;
    margin-bottom: 0;
 }

 .ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;

 }
@media (max-width:360px) {
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
}
 










